/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-image: url('../img/background.jpg');
  background-color: #ffffff;
  max-width: 100%;
}
.container {
  background-color: white;
  padding: 5%;
  margin: 8%;
  border-radius: 8%;
}
@media (max-width: 650px) {
  .container {
    padding: 3%;
    margin: 0 5%;
    border-radius: 0;
  }
}
p {
  font-family: 'Abel', sans-serif;
  line-height: 2;
  font-size: 1rem;
}
h3 {
  font-family: 'Arvo', serif;
  font-size: 2rem;
}
nav {
  margin: 3%;
  background: #FFFFFF;
}
nav a {
  text-decoration: none;
  padding: 4%;
  color: gray;
}
nav a:hover {
  color: #c673ab;
}
@media (max-width: 650px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
    justify-content: space-evenly;
  }
}
header {
  display: flex;
  flex-direction: wrap;
  margin-bottom: 4%;
  align-items: center;
  justify-content: space-around;
}
header .contact {
  width: 45%;
}
header .info {
  border-bottom: 3px solid #c673ab;
  margin: 2%;
  padding: 3%;
}
header .socials {
  display: flex;
  justify-content: space-evenly;
}
header img {
  width: 80%;
}
header h2 {
  margin: 3%;
  font-family: 'Arvo', serif;
  font-size: 2rem;
}
header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 7rem;
  width: 35%;
}
@media (max-width: 900px) {
  header h1 {
    font-size: 5.25rem;
    max-width: 25%;
  }
  header .contact {
    max-width: 35%;
  }
}
@media (max-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    font-size: 3rem;
    width: 100%;
  }
  header .contact {
    width: 100%;
  }
}
.meat {
  margin: 3%;
  display: flex;
  justify-content: space-between;
}
.meat .left {
  width: 45%;
}
.meat .left .experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.meat .left .about {
  margin-bottom: 6%;
}
.meat .left .work {
  border-bottom: 1px dotted gray;
  width: 85%;
  text-align: center;
}
.meat .left h3 {
  width: 100%;
}
.meat .left .res-pic {
  height: 50vh;
  width: 30vw;
  background-image: url('../img/res-pic.jpg');
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: 15% -15%;
  background-attachment: fixed;
  border-radius: 10%;
}
.meat .left .res-pic img {
  display: none;
}
.meat .right {
  width: 45%;
}
.meat h3 {
  border-bottom: 3px solid #c673ab;
  margin: 2%;
  padding: 3%;
}
.meat h4 {
  font-family: 'Abel', sans-serif;
}
@media (max-width: 1000px) {
  .meat .res-pic {
    display: none;
  }
}
@media (max-width: 500px) {
  .meat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .meat .left .res-pic {
    display: none;
  }
  .meat .right,
  .meat .left {
    width: 90%;
  }
}
